<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="计算器"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="计算器"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".getVolumeActivity"
            android:label="体积换算"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".getLengthActivity"
            android:parentActivityName=".MainActivity"
            android:label="长度换算"/>

        <activity
            android:name=".BinaryExchangeActivity"
            android:parentActivityName=".MainActivity"
            android:label="进制转换" />

        <activity android:name=".HelpActivity"
            android:parentActivityName=".MainActivity"
            android:label="帮助"/>
    </application>

</manifest>